In [5]:
#Function with no parameter
def message():
    print("Welcome to Nettech")

In [6]:
message()

Welcome to Nettech

In [7]:
#function with parameter
def add(a,b):
    return a+b
add(7,8)

15

In [1]:
def coursef(name,course_name):
    print("Hello",name,"Welcome to Nettech")
    print("your course name is",course_name)
coursef('students','python')

Hello students Welcome to Nettech
your course name is python

In [2]:
def my_fun(fname,lname):
    print(fname +" "_lname)
my_fun("email")

SyntaxError: invalid syntax (Temp/ipykernel_8748/714206281.py, line 2)

In [3]:
#arbitary arguments
def my_func(*kids):
    print("The youngest child is "+kids[2])
my_func("a","b","c")

The youngest child is c

In [4]:
def my_func(c3,c2,c1):
    print("The youngest child is "+c2)
my_func(c1="a",c2="b",c3="c")

The youngest child is b

In [11]:
#arbitary keywords arguments,**kwargs
def my_func(**girl):
    print("her last name is" + girl["lname"])
my_func(fname="krutika",lname="kale")

her last name iskale

In [14]:
def my_func(country="South Korea"):
    print("Iam from" + country)
my_func("India")
my_func("Sweden")
my_func()
my_func("France")

Iam fromIndia
Iam fromSweden
Iam fromSouth Korea
Iam fromFrance

In [16]:
def my(food):
    for x in food:
        print(x)
fruits=["apple","cherry","kiwi"]
my(fruits)

apple
cherry
kiwi

In [18]:
#return val
def math(x):
    return 7*x
print(math(5))

35

In [20]:
#function
def calc(a,b):
    add=a+b
    return add
c=calc(88,56)
print("Addition :",c)

Addition : 144

In [21]:
def sum(a,b):
    return a+b
total=sum(10,20)
print(total)
total=sum(5,sum(10,20))
print(total)

30
35

In [25]:
def arith(a,b):
    add=a+b
    sub=a-b
    mul=a*b
    div=a/b
    return add,sub,div,mul
a,b,c,d=arith(10,5)

print(a)
print(b)
print(c)
print(d)

15
5
2.0
50

In [28]:
def greet():
    n1 = 'Sanvee'
    print('Hello ', n1)
greet()

Hello  Sanvee

In [29]:
print(n1)

NameError: name 'n1' is not defined

In [33]:
n1 = 'Sanvee'
def greet():
    print('Hello ', n1)
greet()
print (n1)

Hello  Sanvee
Sanvee

In [34]:
def greet():
    global name
    name = 'Bill Gates'
    print('Hello', name)
greet()

Hello Bill Gates

In [37]:
name = 'Steve'
def greet():
    global name
    name = 'Bill'
print('Hello ', name)

Hello  Steve

In [38]:
print(name)

Steve

In [39]:
greet()

In [44]:
def function1():
    loc_var = 888
    print("Value is :", loc_var)
def function2():
    print("Value is :", loc_var)
function1()
function2()

Value is : 888

NameError: name 'loc_var' is not defined

In [1]:
global_var = 999
def function1():
    print("Value in 1nd function :", global_var)
def function2():
    print("Value in 2nd function :", global_var)
function1()
function2()

Value in 1nd function : 999
Value in 2nd function : 999

In [2]:
# Global variable
global_var = 5
def function1():
 print("Value in 1st function :", global_var)
def function2():
 # Modify global variable
 # function will treat it as a local variable
 global_var = 555
 print("Value in 2nd function :", global_var)
def function3():
 print("Value in 3rd function :", global_var)
function1()
function2()
function3()

Value in 1st function : 5
Value in 2nd function : 555
Value in 3rd function : 5

In [3]:
# Global variable
x = 5
# defining 1st function
def function1():
 print("Value in 1st function :", x)
# defining 2nd function
def function2():
 # Modify global variable using global keyword
 global x
 x = 555
 print("Value in 2nd function :", x)
# defining 3rd function
def function3():
 print("Value in 3rd function :", x)
function1()
function2()
function3()

Value in 1st function : 5
Value in 2nd function : 555
Value in 3rd function : 555

In [4]:
x = lambda a : a + 10
print(x(5))

15

In [5]:
x=lambda a:a*4
print(x(4))

16

In [7]:
y=lambda a,b:a*b
print(y(8,6))

48

In [8]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = list(map(lambda x: x * 2 , my_list))
print(new_list)

[2, 10, 8, 12, 16, 22, 6, 24]