In [2]:
#create list using []
my_list=[1,2,3]
print(my_list)
#what data type
type(my_list)

[1, 2, 3]

list

In [5]:
#create list using list constructor
my_list2=list((1,2,3))
print(my_list)

type(my_list2)

[1, 2, 3]

list

In [6]:
#allow duplicate 
my_list3=[1,2,3,4,1]
print(my_list3)

[1, 2, 3, 4, 1]

In [7]:
#checking length
my_list3=[1,2,3,4,1]
print(len(my_list3))

5

In [3]:
#list can access any data type
a=[1,2,3.5]
b=["apple","banana","cherry"]
c=[True,False]
print(a)
print(b)
print(c)
type(a)

[1, 2, 3.5]
['apple', 'banana', 'cherry']
[True, False]

list

In [5]:
#heterogeneous
a=["cherry",34,True,6.8,"male"]
print(a)
type(a)

['cherry', 34, True, 6.8, 'male']

list

In [6]:
#Accessing element
list1=["abc",34,True,40,"male"]
print(list1)

['abc', 34, True, 40, 'male']

In [7]:
#positive forward indexing
print(list1[0])

abc

In [10]:
print(list1[1])
print(list1[2])

34
True

In [9]:
print(list1[5])

IndexError: list index out of range

In [11]:
#negative backword indexing
list1=["abc",34,True,40,"male"]
print(list1[-1])

male

In [12]:
print(list1[-2])

40

In [13]:
print(list1[-4])

34

In [15]:
#to check the position of element in the list
list1.index("male")

4

In [22]:
list1.index(40)
list1.index(True)

2

In [20]:
list1.index(a)

ValueError: ['cherry', 34, True, 6.8, 'male'] is not in list

In [23]:
#slicing
#list1[::]   [start:stop:step]
list1=["abc",34,True,40,"male"]
print(list1[0:])

['abc', 34, True, 40, 'male']

In [24]:
print(list1[:3])

['abc', 34, True]

In [25]:
print(list1[:])

['abc', 34, True, 40, 'male']

In [26]:
print(list1[2:5])

[True, 40, 'male']

In [27]:
print(list1[::2])

['abc', True, 'male']

In [28]:
print(list1[::])

['abc', 34, True, 40, 'male']

In [29]:
print(list1[::-1])

['male', 40, True, 34, 'abc']

In [30]:
print(list1[1:-1])#skip 1 and last number

[34, True, 40]

In [31]:
print(list1[-4:5])

[34, True, 40, 'male']

In [33]:
print(list1[-4:-1])

[34, True, 40]

In [36]:
list1=["abc",34,True,40,"male"]
print(list1[-4:-1:2])

[34, 40]

In [37]:
print(list1[-1:-4])

[]

In [38]:
print(list1[1:-2])

[34, True]

In [39]:
print(list1[0:-4])

['abc']

In [41]:
print(list1[-1:-4:-2])

['male', True]

In [44]:
#print list 2 times
list1*2

['abc', 34, True, 40, 'male', 'abc', 34, True, 40, 'male']

In [3]:
list1=["apple","banana",["watermelon","kiwi"],"cherry"]
print(list1[2][0])

watermelon

In [5]:
print(list1[2][0][6])
print(list1[2][0][4])

e
r

In [6]:
list1=["apple","bananna",["watermelon",["mango","orange"],"coconut","kiwi"],"cherry"]
print(list1[2][1][0])

mango

In [7]:
print(list1[2][1][1][3])

n

In [8]:
list1[2][1][0]

'mango'

In [9]:
list1[2][1][1][0:3]

'ora'

In [2]:
#changing value/elements  Mutable
a = ["apple","banana","cherry"]
print(a)

['apple', 'banana', 'cherry']

In [3]:
a[0]="kiwi"
print(a)

['kiwi', 'banana', 'cherry']

In [4]:
b=["apple","banana","cherry","mango"]
b[1:3]=["watermelon","orange"]
print(b)

['apple', 'watermelon', 'orange', 'mango']

In [5]:
b=["apple","banana","cherry","mango"]
b[1:2]=["papaya","orange"]
print(b)

['apple', 'papaya', 'orange', 'cherry', 'mango']

In [8]:
b[1:4]=["papaya"]
print(b)

['apple', 'papaya']

In [9]:
new=["apple","banana",["watermelon",['grape','mango'],'kiwi'],'cherry']
print(new[2][1][0][-2])

p

In [10]:
print(new[2][0][4])

r

In [11]:
print(new[3][-2])

r

In [2]:
#update and delete
#insert
a=["apple","mango"," banana"]
a.insert(2,"watermelon")
print(a)

['apple', 'mango', 'watermelon', ' banana']

In [3]:
b=["apple","mango"," banana"]
b.insert(2,["watermelon","kiwi"])
print(b)

['apple', 'mango', ['watermelon', 'kiwi'], ' banana']

In [4]:
#append()
a=["apple","mango"," banana"]
a.append("watermelon")
print(a)

['apple', 'mango', ' banana', 'watermelon']

In [5]:
b=["apple","mango"," banana"]
b.append(["watermelon","kiwi"])
print(b)

['apple', 'mango', ' banana', ['watermelon', 'kiwi']]

In [6]:
#extend()
a=["apple","mango"," banana"]
a.extend(["watermelon","kiwi"])
print(a)

['apple', 'mango', ' banana', 'watermelon', 'kiwi']

In [7]:
a=["apple","mango"," banana"]
a.extend(["watermelon"])
print(a)

['apple', 'mango', ' banana', 'watermelon']

In [9]:
a=["apple","banana","cherry"]
b=[1,2,3]
a.extend(b)
print(a)

['apple', 'banana', 'cherry', 1, 2, 3]

In [10]:
#remove list
a=["apple","banana","cherry"]
a.remove("banana")
print(a)

['apple', 'cherry']

In [12]:
b=["True",False,True]
b.remove(False)
print(b)

['True', True]

In [13]:
a=["apple","banana","cherry"]
a.remove("apple")
print(a)

['banana', 'cherry']

In [15]:
#pop()
a=["apple","banana","cherry"]
a.pop()
print(a)

['apple', 'banana']

In [18]:
#del
a=["apple","banana","cherry"]
del (a[1])
print(a)

['apple', 'cherry']

In [20]:
#it can delete list
a=["apple","banana","cherry"]
del a
print(a)

NameError: name 'a' is not defined

In [21]:
#clear()
a=["apple","banana","cherry"]
a.clear()
print(a)

[]

In [23]:
#concatination of list
#using +
list1=[1,2,3]
list2=[4,5,6]
list3=list1+list2
print(list3)

[1, 2, 3, 4, 5, 6]

In [22]:
#concatination of list
#using extend()
a=["apple","banana","cherry"]
b=[1,2,3]
a.extend(b)
print(a)

['apple', 'banana', 'cherry', 1, 2, 3]

In [26]:
#copying list = deep copy
my_list1=[1,2,3]
new_list=my_list1
print(new_list)

[1, 2, 3]

In [27]:
my_list1.append(4)
print(my_list1)
print(new_list)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [28]:
#using copy method
this_list=["apple","banana","cherry"]
new_list=this_list.copy()
print(new_list)

['apple', 'banana', 'cherry']

In [6]:
thislist=["apple","banana","cherry"]
newlist=thislist.copy()
print(newlist)
thislist.append("mango")
print(thislist)
print(newlist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'mango']
['apple', 'banana', 'cherry']

In [2]:
a=list((1,2,3))
print(a)

[1, 2, 3]

In [7]:
#copying list using list() method
a=["apple","banana","cherry"]
b=list(a)
print(b)

['apple', 'banana', 'cherry']

In [3]:
a=["apple","banana","cherry"]
b=list(a)
a.append("kiwi")
print(a)
print(b)

['apple', 'banana', 'cherry', 'kiwi']
['apple', 'banana', 'cherry']

# Sort() and Reverse()

In [5]:
mylist=[3,5,7,2,4,8]
mylist.sort()
print(mylist)

[2, 3, 4, 5, 7, 8]

In [6]:
list1=['g','w','o','a','m']
list1.sort()
print(list1)

['a', 'g', 'm', 'o', 'w']

In [7]:
mylist=[2,4,6,8,10]
mylist.reverse()
print(mylist)

[10, 8, 6, 4, 2]

# Function of list

In [8]:
#max()
mylist=[3,4,5,6,1]
print(max(mylist))

6

In [9]:
#min()
mylist=[3,4,5,6,1]
print(min(mylist))

1

In [10]:
#sum
mylist=[3,4,5,6,1]
print(sum(mylist))

19

In [11]:
#all
#all true values
list1=[1,1,True]
print(all(list1))

True

In [12]:
#with 1 false
list1=[1,False,True]
print(all(list1))

False

In [13]:
#with all false
list1=[False,False,False]
print(all(list1))

False

In [14]:
#with empty list
list1=[]
print(all(list1))

True

In [15]:
#any
#all true values
list1=[1,1,True]
print(any(list1))

True

In [16]:
#with empty list
list1=[]
print(any(list1))

False

In [17]:
#with 1 false
list1=[1,False,True]
print(any(list1))

True

# Stack and Queue

In [18]:
stack=["Amar","Akbar","Anthony"]
stack.append("ram")
stack.append("shaam")
print(stack)

['Amar', 'Akbar', 'Anthony', 'ram', 'shaam']

In [19]:
#remove last item
print(stack.pop())
print(stack.pop())

shaam
ram

In [20]:
print(stack)

['Amar', 'Akbar', 'Anthony']

In [21]:
fruits=[]
#add fruits
fruits.append('banana')
fruits.append('apple')
fruits.append('mango')
fruits.append('orange')
print(fruits)

a=fruits.pop()
print(a)
print(fruits)

a=fruits.pop()
print(a)

print(fruits)

['banana', 'apple', 'mango', 'orange']
orange
['banana', 'apple', 'mango']
mango
['banana', 'apple']

In [22]:
#Queue using list
queue=["Amar","Akbar","Anthony"]
queue.append("ram")
queue.append("shaam")
print(queue)

#remove last item
print(queue.pop(0))
print(queue)


print(queue.pop(0))
print(queue)

['Amar', 'Akbar', 'Anthony', 'ram', 'shaam']
Amar
['Akbar', 'Anthony', 'ram', 'shaam']
Akbar
['Anthony', 'ram', 'shaam']

In [23]:
fruits=[]
#add fruits
fruits.append('banana')
fruits.append('apple')
fruits.append('mango')
fruits.append('orange')
print(fruits)

a=fruits.pop(0)
print(a)
print(fruits)

a=fruits.pop(0)
print(a)

print(fruits)

['banana', 'apple', 'mango', 'orange']
banana
['apple', 'mango', 'orange']
apple
['mango', 'orange']

In [24]:
#zip 2 list Use of zip
name=["krutika","shital","mansi","anu"]
marks=[89,72,60,55]

mapped=zip(name,marks)

mapped=list(mapped)
print(mapped)

[('krutika', 89), ('shital', 72), ('mansi', 60), ('anu', 55)]

In [26]:
#using list constructor
l1=list((1,2,3))
print(l1)

[1, 2, 3]

In [27]:
#3 list
name=["krutika","shital","mansi","anu"]
marks=[89,72,60,55]
rollno=[1,2,3,4]

mapped=zip(name,rollno,marks)

mapped=list(mapped)
print(mapped)

[('krutika', 1, 89), ('shital', 2, 72), ('mansi', 3, 60), ('anu', 4, 55)]

In [29]:
#unzipping
namez,rollnoz,marksz=zip(*mapped)
print(namez)
print(rollnoz)
print(marksz)

('krutika', 'shital', 'mansi', 'anu')
(1, 2, 3, 4)
(89, 72, 60, 55)