In [1]:
#create dictionary {}
p1={"name":"krutika","country":"India","telephone":1234}
print(p1)

{'name': 'krutika', 'country': 'India', 'telephone': 1234}

In [2]:
p1=dict({"name":"krutika","country":"India","telephone":1234})
print(p1)

{'name': 'krutika', 'country': 'India', 'telephone': 1234}

In [6]:
p1=([("name","krutika"),("country","India"),("telephone",1234)])
print(p1)

[('name', 'krutika'), ('country', 'India'), ('telephone', 1234)]

In [7]:
#first key integer and second is an inte
sd={"name":"krutika",10:"Mobile"}
print(sd)

{'name': 'krutika', 10: 'Mobile'}

In [8]:
emptydict={}
print(type(emptydict))

<class 'dict'>

In [9]:
p1={"name":"krutika","country":"India","telephone":1234,"telephone":1122}
print(p1)

{'name': 'krutika', 'country': 'India', 'telephone': 1122}

In [10]:
p1={"name":"krutika","country":"India","telephone":[1234,1122]}
print(p1)

{'name': 'krutika', 'country': 'India', 'telephone': [1234, 1122]}

In [12]:
#accesing element getting keys
p1={"name":"krutika","country":"India","telephone":1234,"telephone":1122}
print(p1['name'])

krutika

In [13]:
p1={"name":"krutika","country":"India","telephone":1234,"telephone":1122}
print(p1['telephone'])

1122

In [15]:
#accesing element getting all value
p1={"name":"krutika","country":"India","telephone":1234,"telephone":1122}
#get all value
print(p1.keys())
print(type(p1.keys()))

print(p1.values())
print(type(p1.values()))

print(p1.items())
print(type(p1.items()))

dict_keys(['name', 'country', 'telephone'])
<class 'dict_keys'>
dict_values(['krutika', 'India', 1122])
<class 'dict_values'>
dict_items([('name', 'krutika'), ('country', 'India'), ('telephone', 1122)])
<class 'dict_items'>

In [16]:
#print length
print(len(p1))

3

# adding item to dictionary

In [2]:
p1={"name":"krutika","country":"India","telephone":1234}

#update
p1.update({"weight":50,"height":5.4})
print(p1)

p1.update([("city","mumbai"),("comp","TCS")])
print(p1)

{'name': 'krutika', 'country': 'India', 'telephone': 1234, 'weight': 50, 'height': 5.4}
{'name': 'krutika', 'country': 'India', 'telephone': 1234, 'weight': 50, 'height': 5.4, 'city': 'mumbai', 'comp': 'TCS'}

In [3]:
dict1 = {'Sanvee': 70, 'Komal': 80, 'Shreya': 55}
dict2 = {'Pratham': 68, 'Suraj': 50, 'Siddhesh': 66}
dict1.update(dict2)
print(dict1)

{'Sanvee': 70, 'Komal': 80, 'Shreya': 55, 'Pratham': 68, 'Suraj': 50, 'Siddhesh': 66}

In [4]:
dict1 = {'Sanvee': 70, 'Komal': 80, 'Shreya': 75}
dict2 = {'Pratham': 68, 'Suraj': 50, 'Shreya': 75}

dict1.update(dict2)

print(dict1)

{'Sanvee': 70, 'Komal': 80, 'Shreya': 75, 'Pratham': 68, 'Suraj': 50}

In [5]:
student_dict1 = {'Arnav': 1, 'Aashi': 2, }
student_dict2 = {'Yash': 5, 'Rudra': 6}
student_dict3 = {'Vini': 7, 'Simi': 9}

student_dict = {**student_dict1, **student_dict2, **student_dict3}
print(student_dict)

{'Arnav': 1, 'Aashi': 2, 'Yash': 5, 'Rudra': 6, 'Vini': 7, 'Simi': 9}

modify value

In [6]:
person = {"name": "Sanvee", "country": "India"}
print(person)
# updating the country name
person["country"] = "USA"
# print the updated country
print(person['country'])
print(person)
# updating the country name using update() method
person.update({"country": "Canada"})
# print the updated country
print(person['country'])
print(person)

{'name': 'Sanvee', 'country': 'India'}
USA
{'name': 'Sanvee', 'country': 'USA'}
Canada
{'name': 'Sanvee', 'country': 'Canada'}

removing item

In [15]:
person = {'name': 'Sanvee', 'country': 'India', 'telephone': 1178, 'weight': 50, 'height':5.4}
deleted_item = person.popitem()
print(deleted_item)
print(person)

('height', 5.4)
{'name': 'Sanvee', 'country': 'India', 'telephone': 1178, 'weight': 50}

In [16]:
person = {'name': 'Sanvee', 'country': 'India', 'telephone': 1178, 'weight': 50, 'height':5.5} 
deleted_item = person.pop('telephone')
print(deleted_item) 
print(person)

1178
{'name': 'Sanvee', 'country': 'India', 'weight': 50, 'height': 5.5}

In [17]:
del person['weight']
print(person)

{'name': 'Sanvee', 'country': 'India', 'height': 5.5}

In [18]:
person.clear()
print(person)

{}

In [19]:
del person
print(person)

NameError: name 'person' is not defined

In [20]:
dict1 = {'Sanvee': 75, 'Siddhesh': 55}

dict2 = dict1.copy()
print(dict2)

{'Sanvee': 75, 'Siddhesh': 55}

In [21]:
dict1 = {'Sanvee': 75, 'Siddhesh': 55}
# Copy dictionary using assignment = operator
dict2 = dict1
print(dict2)

{'Sanvee': 75, 'Siddhesh': 55}

In [22]:
dict2.update({'Sanvee': 90})
print(dict2)
print(dict1)

{'Sanvee': 90, 'Siddhesh': 55}
{'Sanvee': 90, 'Siddhesh': 55}

In [23]:
#sort
dict1 = {'c': 45, 'b': 95, 'a': 35}
# sorting dictionary by keys
print(sorted(dict1.items()))
# sort dict eys
print(sorted(dict1))
# sort dictionary values
print(sorted(dict1.values()))

[('a', 35), ('b', 95), ('c', 45)]
['a', 'b', 'c']
[35, 45, 95]

In [24]:
dict = {1:'aaa',2:'bbb',3:'AAA'}
print('Maximum Key',max(dict)) 
print('Minimum Key',min(dict))

Maximum Key 3
Minimum Key 1