In [1]:
#creating tuple
ntuple=(10,20,30,4.0)
print(ntuple)

(10, 20, 30, 40)

In [4]:
a=('kru',50,9.7)
print(a)

('kru', 50, 9.7)

In [5]:
b=(True,False,True)
print(b)

(True, False, True)

In [6]:
#using tuple constructor
ntuple=tuple((1,2,3,4))
print(ntuple)
type(ntuple)

(1, 2, 3, 4)

tuple

In [7]:
#without comma
t1=('hello')
print(type(t1))
print(t1)

<class 'str'>
hello

In [8]:
#with comma
t1=('hello',)
print(type(t1))
print(t1)

<class 'tuple'>
('hello',)

In [9]:
#duplicates
t1=("apple","banana","cherry","chiku","banana","cherry")
print(t1)

('apple', 'banana', 'cherry', 'chiku', 'banana', 'cherry')

In [10]:
t1=('p','y','t','h','o','n')
print(len(t1))

6

In [1]:
#access tuple item
t1=("apple","banana","cherry")
print(t1[1])

banana

In [2]:
#negative indexing
t1=("apple","banana","cherry")
print(t1[-1])

cherry

In [3]:
#slicing
t1=("apple","banana","cherry","kiwi","orange","melon","mango")
print(t1[2:5])

('cherry', 'kiwi', 'orange')

In [4]:
t1=(10,20,30,40,50)
#get index item
position=t1.index(30)
print(position)

2

In [5]:
#immutable
t1[2]="muskmelon"

TypeError: 'tuple' object does not support item assignment

In [6]:
t1=(10,20,30,40,50,60,70,80)
#checking wether item 50is in the tuple
print(50 in t1)
print(50 not in t1)

True
False

In [7]:
#tuple method with function
t1=(0,1,2,3,4,5)
sl=list(t1)
sl.append(6)
t1=tuple(sl)
print(t1)

(0, 1, 2, 3, 4, 5, 6)

In [8]:
t1=(1,2,[3,4])
print(t1)
t1[2][0]=250
print(t1)

(1, 2, [3, 4])
(1, 2, [250, 4])

In [9]:
#removing
st=(0,1,2,3,4,5)
del st
print(st)

NameError: name 'st' is not defined

In [1]:
t1=(0,1,2,3,4,5)
#convert tuple into list
t2=list(t1)
t2.remove(3)

#convert list into again tuple
t2=tuple(t1)
print(t1)

(0, 1, 2, 3, 4, 5)

In [2]:
t1=(10,20,60,40,50,60)
t1.count(60)

2

In [3]:
t1=(1,2,3,4,5)
t2=(3,4,5,6,7)
#concat tuple using+
t3=t1+t2
print(t3)

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

In [4]:
t1=(1,2,3,4,5)
t2=(3,4,5,6,7)
t3=sum((t1,t2),())
print(t3)

(1, 2, 3, 4, 5, 3, 4, 5, 6, 7)

In [5]:
t1=(11,22,4,10)
#maximum value
print(max(t1))

22

In [9]:
t1=('zara','xyz','abc') 
print(max(t1))
print(min(t1))

zara
abc

In [12]:
t1=(11,22,4,10)
#minimum value
print(min(t1))
print(max(t1))

4
22

In [13]:
#cant use heterogeneous val
t1=('a','e',1,2,True)
print(max(t1))

TypeError: '>' not supported between instances of 'int' and 'str'