In [1]:
#create ser
set={1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [3]:
sample_set={'krutika',2,'a'}
print(sample_set)

{'krutika', 2, 'a'}

In [1]:
#using set cons
S1=set((1,2,3))
print(S1)

{1, 2, 3}

In [2]:
type(S1)

set

In [3]:
len(S1)

3

# add item

In [4]:
#once it created we cant change but add new 
s1={"apple","banana","cherry"}
s1.add("peru")
print(s1)

{'apple', 'cherry', 'peru', 'banana'}

In [5]:
s1={"apple","banana","cherry"}
s1.update(["mango"])
print(s1)

{'mango', 'apple', 'cherry', 'banana'}

In [6]:
a={"apple","banana","cherry"}
b={"chiku","orange","kiwi"}
a.update(b)
print(a)

{'chiku', 'cherry', 'banana', 'apple', 'kiwi', 'orange'}

# remove item

In [10]:
#remove method
color_set={'red','pink','blue','white','black','orange','grey','yellow'}
color_set.remove('yellow')
print(color_set)

{'red', 'grey', 'black', 'pink', 'white', 'orange', 'blue'}

In [11]:
#discard method
color_set={'red','pink','blue','white','black','orange','grey','yellow'}
color_set.discard('yellow')
print(color_set)

{'red', 'grey', 'black', 'pink', 'white', 'orange', 'blue'}

In [12]:
#pop method
color_set.pop()
print(color_set)

{'grey', 'black', 'pink', 'white', 'orange', 'blue'}

In [13]:
#remove all
color_set.clear()
print(color_set)

set()

In [14]:
color_set={'red','pink','blue','white','black','orange','grey','yellow'}

print(color_set)

{'red', 'grey', 'black', 'pink', 'white', 'orange', 'blue', 'yellow'}

In [16]:
del color_set()
print(color_set)

SyntaxError: cannot delete function call (Temp/ipykernel_888/69864329.py, line 1)

# Set operation

In [17]:
#union
c1={'red', 'grey', 'black', 'pink', 'white', 'orange'}
c2={'white', 'orange', 'blue', 'yellow'}
c3=c1|c2
print(c3)

{'red', 'grey', 'black', 'pink', 'white', 'orange', 'blue', 'yellow'}

In [18]:
c3=c1.union(c2)
print(c3)

{'red', 'grey', 'black', 'pink', 'white', 'orange', 'blue', 'yellow'}

In [19]:
#intersection
c1={'red', 'grey', 'black', 'pink', 'white', 'orange'}
c2={'white', 'orange', 'blue', 'yellow'}
c3=c1&c2
print(c3)

{'orange', 'white'}

In [20]:
c3=c1.intersection(c2)
print(c3)

{'orange', 'white'}

In [24]:
#diffrence
c1={'red', 'grey', 'black', 'pink', 'white', 'orange'}
c2={'white', 'orange', 'blue', 'yellow'}
c3=c1-c2
print(c3)


c3=(c1.difference(c2))
print(c3)

{'black', 'red', 'grey', 'pink'}
{'black', 'red', 'grey', 'pink'}

In [25]:
#symmetric diffrence
c1={'red', 'grey', 'black', 'pink', 'white', 'orange'}
c2={'white', 'orange', 'blue', 'yellow'}
c3=c1^c2
print(c3)

{'red', 'grey', 'black', 'pink', 'blue', 'yellow'}

In [27]:
c3=(c1. symmetric_difference(c2))
print(c3)

{'red', 'grey', 'black', 'pink', 'blue', 'yellow'}

In [29]:
#subset
c1={'red', 'grey', 'black', 'pink', 'white', 'orange'}
c2={'white', 'orange'}
print(c1.issubset(c2))
print(c2.issubset(c1))

False
True

In [30]:
color_set1 = {'violet', 'blue', 'yellow', 'red'}
color_set2 = {'orange', 'red'}
color_set3 = {'green', 'orange'}

print(color_set2.isdisjoint(color_set1))

print(color_set3.isdisjoint(color_set1))

False
True

In [31]:
set1 = {1, 2, 3, 4}
set2 = {0, 2, 4, 6, 8} # set with one false value '0'
set3 = {True, True} # set with all true
set4 = {True, False} # set with one false
set5 = {False, 0} # set with both false values
# checking all true value set
print('all() With all true values:', all(set1)) 
print('any() with all true Values:', any(set1))

all() With all true values: True
any() with all true Values: True

In [32]:
set1 = {2, 4, 6, 10, 8, 15}
set2 = {'ABC', 'abc'}

print(max(set1))  
print(max(set2))  
print(min(set1))  
print(min(set2))

15
abc
2
ABC