In [ ]:
 1.Create list of your name,age, field ,location using [] and list constructor

In [2]:
a=list(("Krutika",21,"Bsc.IT","Kalyan"))
print(a)

['Krutika', 21, 'Bsc.IT', 'Kalyan']

In [ ]:
2.print only your field using index method

In [9]:
a=list(("Krutika",21,"Bsc.IT","Kalyan"))
print(a[2])

Bsc.IT

In [ ]:
3.print the position of location element

In [11]:
a=list(("Krutika",21,"Bsc.IT","Kalyan"))
a.index("Kalyan")

3

In [ ]:
4.print element btw age and locaton ,using forward and backward indexing

In [15]:
a=list(("Krutika",21,"Bsc.IT","Kalyan"))
print(a[-2:-1:1])

['Bsc.IT']

In [1]:
a=list(("Krutika",21,"Bsc.IT","Kalyan"))
print(a[1:3])

[21, 'Bsc.IT']

In [ ]:
5.replace the element of name with surname

In [20]:
a=["Krutika",21,"Bsc.IT","Kalyan"]
a[0:1]=["Kale"]
print(a)

['Kale', 21, 'Bsc.IT', 'Kalyan']

In [ ]:
6. replace the element of name ,age and field

In [18]:
a=["Krutika",21,"Bsc.IT","Kalyan"]
a[0:3]=["pink","dancing","kale"]
print(a)

['pink', 'dancing', 'kale', 'Kalyan']

In [ ]:
7 replace the element of name,age with only surname

In [17]:
a=["Krutika",21,"Bsc.IT","Kalyan"]
a[0:2]=["kale"]
print(a)

['kale', 'Bsc.IT', 'Kalyan']

In [ ]:
8 replace the element of name with your nickname and surname'

In [14]:
a=["Krutika",21,"Bsc.IT","Kalyan"]
a[0]=["mani","kale"]
print(a)

[['mani', 'kale'], 21, 'Bsc.IT', 'Kalyan']

In [ ]:
10 add your only one hobby at the end of the list

In [13]:
a=["Krutika",21,"Bsc.IT","Kalyan"]
a.append("dancing")
print(a)

['Krutika', 21, 'Bsc.IT', 'Kalyan', 'dancing']

In [ ]:
11 add your n-numbers of hobbies at the end of list

In [10]:
a=["Krutika",21,"Bsc.IT","Kalyan"]
a.extend(["dancing","reading book","singing","playing game"])
print(a)

['Krutika', 21, 'Bsc.IT', 'Kalyan', 'dancing', 'reading book', 'singing', 'playing game']

In [ ]:
12 remove your location from list

In [7]:
a=["Krutika",21,"Bsc.IT","Kalyan"]
a.pop()
print(a)

['Krutika', 21, 'Bsc.IT']

In [ ]:
13 remove your age from list[using 2 methods]

In [5]:
a=["Krutika",21,"Bsc.IT","Kalyan"]
#using pop
a.pop(1)
print(a)

['Krutika', 'Bsc.IT', 'Kalyan']

In [6]:
a=["Krutika",21,"Bsc.IT","Kalyan"]
#using remove()
a.remove(21)
print(a)

['Krutika', 'Bsc.IT', 'Kalyan']

In [ ]:
14 remove last element from the list

In [4]:
colour=["red","pink","blue","white"]
colour.pop()
print(colour)

['red', 'pink', 'blue']

In [ ]:
15 remove all element from the list(empty)

In [2]:
fruit= ["apple", "banana", "cherry"]
fruit.clear()
print(fruit)

[]

In [ ]:
16 delete the list

In [3]:
#using del 
math=["add","sub","mul","div"]
del math
print(math)

NameError: name 'math' is not defined

In [ ]:
17 create a list of prime numbers till 20 and find the length of it

In [16]:
new_list=[2,3,5,7,11,13,17,19]
len(new_list)

8

In [ ]:
18 create a list of 5,2,18,7,12 and print in ascending and descending order

In [1]:
#ascending
my_list=[5,2,18,7,12]
my_list.sort()
print(my_list)
my_list.sort(reverse=True)
print(my_list)

[2, 5, 7, 12, 18]
[18, 12, 7, 5, 2]

In [ ]:
19 merge two list

In [2]:
#Using + operator
a=[1,2,3,4]
b=[5,6,7,8]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8]

In [3]:
#Using extend
a=["Kalyan","Thane","Pune"]
b=["Mumbai","Dadar"]
a.extend(b)
print(a)

['Kalyan', 'Thane', 'Pune', 'Mumbai', 'Dadar']

In [ ]:
20 make a deep copy of list and check whether it is copying deeply or not

In [11]:
p = ["apple","mango","banana"]
# Using = operator
q = p
# printing the new list
print(q)

# making changes in the original list
p.append("cherry")
print(p)
print(q)

['apple', 'mango', 'banana']
['apple', 'mango', 'banana', 'cherry']
['apple', 'mango', 'banana', 'cherry']