a)
1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [5]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

b)

5 4 3 2 1

5 4 3 2

5 4 3

5 4

5

In [12]:
for i in range(5,0,-1):
    for j in range(5,5-i,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

c)

5 5 5 5 5

4 4 4 4

3 3 3

2 2

1

In [19]:
for i in range(5,0,-1):
    for j in range(0,i):
        print(i,end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

d)

1 2 3 4 5

1 2 3 4

1 2 3

1 2

1

In [21]:
for i in range(6,1,-1):
    for j in range(1,i):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

e)

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [23]:
for i in range(1,6,1):
    for j in range(0,i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

# f)

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [4]:
for i in range(5,0,-1):
    for j in range(i,6):
        print(i,end=" ")
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

# g)

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [12]:
for i in range(5,-1,-1):
    for j in range(5,i,-1):
        print(j,end=" ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
h)

           1    
      	1  2  
      1 2  3 
    1 2 3  4 
 1 2 3  4  5

In [ ]:
i)

            1    
         2  2  
      3  3  3 
    4 4  4  4 
  5 5 5  5  5

In [ ]:
j)

           1    
         2 1  
      3  2 1 
    4 3  2 1 
  5 4 3  2 1

In [ ]:
k)

1

2 1

3 2 1

4 3 2 1

5 4 3 2 1

In [ ]:
l)

1

2 3

4 5 6

7 8 9 10

In [ ]:
m)

1

2 3 4

5 6 7 8 9

In [ ]:
k=

In [ ]:
n)

0  

0 1  

0 2 4  

0 3 6 9  

0 4 8 12 16

In [ ]:
o)

0
0 1
0 1 4
0 1 4 9
0 1 4 9 16

In [ ]:
p)

1
4 4
9 9 9
16 16 16 16
25 25 25 25 25

In [ ]:
q)

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [17]:
for i in range(1,10,2):
    for j in range():
        print(i,end=" ")
    print()

1 2 3 4 5 6 7 8 9
3 4 5 6 7 8 9
5 6 7 8 9
7 8 9
9

In [ ]:
r)

*
*   *
*   *   *
*   *   *   *
*   *   *   *   *

In [ ]:
s)

*   *   *   *   *
*   *   *   *
*   *   *
*   *
*

In [ ]:
t)

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
u)

1  2  3  4  5
1  2  3  4  5
1  2  3  4  5
1  2  3  4  5
1  2  3  4  5

In [15]:
for i in range(1,6,1):
    for j in range(i,6):
        print(j,end="")
    print()

12345
2345
345
45
5